*{
    margin: 0px;
    padding: 0px;
}
.i{
    display: flex;
    justify-content: center;
        align-items: center;
        /* gap: 10px; */
}

.ota{
    width: 500px;
    height: 800px;
    background-color: white;
}
/* .q{
    margin-top: 100px;
     width: 500px;
    height: 700px;
    background-color: rgb(251, 255, 0);
} */

.div{
     display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
    align-items: center;
}
.div  h1{
    line-height: 45px;
    /* padding: 30px 0; */
}
.qw{
    color: red;
    /* padding-top: 30px; */
    /* padding-bottom: 70px; */
}
.wq{
    color: blue;

}
body{
    background-color: yellow;
    width: 100%;
    height: 40vh;
    /* width: 5000px; */
    /* height: 10000px; */
}
.ew{
    color:currentColor;
}

.a{
    color:purple;
   
    text-decoration: none;
        list-style: none;

    
}

.ota  a{
    text-decoration: none;
     list-style: none;
}

.z{
    color:midnightblue;
}

.ul{
    list-style: none;
}
.o{
    /* margin-bottom: 100px; */
    background-color: white;
     width: 500px;
    height: 950px;
}


/* .card{
    width: 250px;
    height: 250px;
    background: red; */
/* } */
/* .cards{
    display: flex;
    gap: 10px;
    justify-content: center;
} */
@media (max-width: 1287px) {
    .div{
        display: flex;
        flex-wrap: wrap;
        /* justify-content: center; */
        

    }
    .ota{
        background: white;
    }
}

@media (max-width: 1024px) {
    .div{
        display: flex;
        flex-wrap: wrap;
        /* justify-content: center; */
/* width: 100px; */
        /* height: 800px; */
    }
    .o{
        background:white;
    }
}

@media (max-width: 170px) {
    .div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* height: 400px; */
    }
    .ota{
        background: white;
    }
}

@media (max-width: 700px) {
    .div{
        display: flex;
        /* flex-direction: column; */
        /* align-items: center; */
        justify-content: center;
    }
    .ota{
        background:  white;
    }
}

@media (max-width: 1273px) {
    .div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .ot{
        background-color: aqua;
        /* height: 70px;
        width: 9000px; */
    }
}

.v{
    background-color: aqua;
    /* width: 1259px; */
    /* height: 1200px; */
}
.i{color: rgb(0, 255, 42);}
/* 
*{
    margin: 0px;
    padding: 0px;
}
.ota{
    width: 500px;
    height: 700px;
    background-color: yellow;
}

.div{
     display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
}
.qw{
    color: red;
    padding-top: 30px;
}
.wq{
    color: blue;

}
.ew{
    color:currentColor;
}

.a{
    color:purple;
}

.z{
    color:midnightblue;
} */
